/* I hate css */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.site-wrap {
    flex: 1 0 auto;
    margin: initial;
    min-height: initial;
}

.site-header {
    padding-top: 2rem;
}

.footer {
    flex-shrink: 0;
    padding: 1rem;
    height: initial;
    margin: 0;
}

.site-wrap:after {
    height: 0px;
}
/* Still hate css */

.social-links a {
    color: inherit;
    font-size: 1.2em;
    padding-left: 10px;
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
}

.social-links a:hover {
    opacity: 1;
}

/* Portrait */
.portrait-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 1rem;
}

.portrait-container img {
    object-fit: contain;
}

@media screen and (max-width: 40em) {
    .portrait-container {
        max-width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

.post {
    padding-top: 0;
}
