    <footer class="footer">
        <div class="footer-wrap">
            <div class="center">
                {{ partial "social_links.html" . }}
                <small>Copyright &#169; 2020</small>
            </div>
        </div>
    </footer>

    <!-- Highlight -->
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Google Analytics -->
    {{ partial "google_analytics.html" . }}
    {{ partial "script.html" . }}

</body>
</html>
