<div class="social-links">
    <a href="/index.xml">
        <i class="fas fa-rss"></i>
    </a>
    {{ if isset .Site.Params "twitter_username" }}
        <a href="https://twitter.com/{{ .Site.Params.twitter_username }}">
            <i class="fab fa-twitter"></i>
        </a>
    {{ end }}
    {{ if isset .Site.Params "github_username" }}
        <a href="https://github.com/{{ .Site.Params.github_username }}">
            <i class="fab fa-github"></i>
        </a>
    {{ end }}
    {{ if isset .Site.Params "linkedin_username" }}
        <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin_username }}">
            <i class="fab fa-linkedin"></i>
        </a>
    {{ end }}
    {{ if isset .Site.Params "email" }}
        <a href="mailto:{{ .Site.Params.email }}?subject=Hello!">
            <i class="fas fa-envelope-square"></i>
        </a>
    {{ end }}
</div>
