<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <script src="https://kit.fontawesome.com/bc1e269b8e.js"></script>

    <style type="text/css">
      footer a {
        color: inherit;
      }
      .view a:focus, .view a:hover {
        font-weight: inherit;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <a href="https://github.com/danappelxx/"><i class="fab fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/dvappel/"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://twitter.com/dan_appel/"><i class="fab fa-twitter-square fa-2x"></i></a>
        <a href="mailto:dan@danapp.app?subject=Hello!"><i class="fas fa-envelope-square fa-2x"></i></a>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
